.overlay {
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  width: 100%;
  border-radius: 5px;
  box-shadow: none;
  padding: 0;
  height: 500px;
}

.modal > div {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.preview {
  flex: 6;
  background-color: rgba(17, 138, 178, 0.05);
}

.action {
  flex: 5;
  padding: 2em;
}

.action header {
  display: flex;
  padding-bottom: 2em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #000;
  font-size: 0.8em;
  font-weight: 500;
  align-items: center;
}

.action header img {
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  background-color: rgba(92, 103, 125, 0.78);
}

.action header span {
  margin-left: 1em;
}

.action button {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  background-color: #000;
  padding: 1em 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  cursor: pointer;
}
