.overlay {
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  width: 60%;
  border-radius: 5px;
  box-shadow: none;
  padding: 0;
  max-width: 500px;
}

.modal > div {
  background-color: rgba(17, 138, 178, 0.05);
  width: 100%;
  padding: 4em 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal figure {
  padding: 0;
  margin: 0;
}

.modal header {
  display: flex;
  margin-top: 2em;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modal header img {
  border-radius: 50%;
}

.modal header span {
  margin-left: 0.5em;
  text-overflow: clip;
}

.modal p {
  font-weight: 400;
}

.modal p span {
  color: #ef476f;
}

.modal button {
  margin-top: 1em;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  background-color: #000;
  padding: 1em 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal {
    width: 80%;
  }

  .modal > div {
    position: relative;
    width: 100%;
    padding: 2em;
  }

  .modal header {
    justify-content: flex-start;
    margin-top: 0;
  }

  .modal figure {
    display: none;
  }

  .modal p {
    margin-top: 2em;
    display: block;
    width: 100%;
    text-align: center;
  }
  .modal span.red {
    display: block;
  }
}
